<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='contact.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Dongle:wght@300;400&family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,800;1,600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <div class="header__group">
            <h1>Nhile</h1>
        </div>
        <div class="header__group header__group2">
            <div class="header__group-item"><a href="/home">Home</a></div>
            <div class="header__group-item"><a href="/about">About</a></div>
            <div class="header__group-item"><a href="/services">Services</a></div>
            <div class="header__group-item"><a href="/work">Work</a></div>
            <div class="header__group-item"><a href="/contact">Contact</a></div>
        </div>
    </div>


    <div class="container">
        <div id="end" class="container__group">
            <div class="container__group-item container__group-item1">
                <p>Would you give us</p>
                <h2>Handshakes?</h2>

                <div class="container__group-item1-input">
                    <input type="text" placeholder="Email">
                    <br>
                    <input type="text" placeholder="Name">
                    <br>
                    <input type="text" placeholder="Phone">
                </div>

                <div class="container__group-item1-button">
                    <a href="#hai">
                        <div class="container__group-item1-button-next">Next</div>
                    </a>
                </div>
            </div>


            <div class="container__group-item container__group-item2">
                <div class="container__group-item2-background">
                    <div class="container__group-item2-background-img"></div>
                    <p>Get closer!</p>
                </div>

                <div class="container__group-item2-display">
                    <div class="container__group-item2-display-width container__group-item2-display-width-top container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">1</div>
                    <div class="container__group-item2-display-width"></div>
                    <div class="container__group-item2-display-border">2</div>
                    <div class="container__group-item2-display-width"></div>
                    <div class="container__group-item2-display-border">3</div>
                    <div class="container__group-item2-display-width"></div>
                    <div class="container__group-item2-display-border">4</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-top"></div>
                </div>

                <div class="container__group-item2-text">
                    <div class="container__group-item2-text-item container__group-item2-text-item1">Personnal Details</div>
                    <div class="container__group-item2-text-item container__group-item2-text-item2" >Services </div>
                    <div class="container__group-item2-text-item container__group-item2-text-item3">Company Budget</div>
                    <div class="container__group-item2-text-item">Confirmation</div>
                </div>
            </div>
        </div>


        <!-- container__group2 -->


        <div id="hai" class="container__group container__group2">
            <div class="container__group-item container__group-item1">
                <p>Would you give us</p>
                <h2>Handshakes?</h2>

                <div class="container__group-item1-input container__group-item1-input2">
                    <div class="container__group-item1-input2-item">
                        <div class="container__group-item1-input2-item-border"></div>
                        <div class="container__group-item1-input2-item-text">Website Development</div>
                    </div>

                    <div class="container__group-item1-input2-item">
                        <div class="container__group-item1-input2-item-border"></div>
                        <div class="container__group-item1-input2-item-text">Buiding Applications</div>
                    </div>

                    <div class="container__group-item1-input2-item">
                        <div class="container__group-item1-input2-item-border"></div>
                        <div class="container__group-item1-input2-item-text">Branding & Identity</div>
                    </div>

                    <div class="container__group-item1-input2-item">
                        <div class="container__group-item1-input2-item-border"></div>
                        <div class="container__group-item1-input2-item-text">SEO & Digital Marketing</div>
                    </div>

                    <div class="container__group-item1-input2-item">
                        <div class="container__group-item1-input2-item-border"></div>
                        <div class="container__group-item1-input2-item-text">Digital Images & Videos</div>
                    </div>
                    
                </div>

                <div class="container__group-item1-button">
                    <a href="#ba">
                        <div class="container__group-item1-button-next">Next</div>
                    </a>
                </div>
            </div>


            <div class="container__group-item container__group-item2">
                <div class="container__group-item2-background container__group-item2-background2">
                    <div class="container__group-item2-background2-img"></div>
                    <p>Just a few more steps !</p>
                </div>

                <div class="container__group-item2-display">
                    <div class="container__group-item2-display-width container__group-item2-display-width-top container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">1</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">2</div>
                    <div class="container__group-item2-display-width"></div>
                    <div class="container__group-item2-display-border">3</div>
                    <div class="container__group-item2-display-width"></div>
                    <div class="container__group-item2-display-border">4</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-top"></div>
                </div>

                <div class="container__group-item2-text">
                    <div class="container__group-item2-text-item container__group-item2-text-item1">Personnal Details</div>
                    <div class="container__group-item2-text-item container__group-item2-text-item2" >Services </div>
                    <div class="container__group-item2-text-item container__group-item2-text-item3">Company Budget</div>
                    <div class="container__group-item2-text-item">Confirmation</div>
                </div>
            </div>
        </div>



        <!-- container__group3 -->



        <div id="ba" class="container__group container__group2 container__group3">
            <div class="container__group-item container__group-item1">
                <p>Would you give us</p>
                <h2>Handshakes?</h2>

                <div class="container__group-item1-input container__group-item1-input2 container__group-item1-input3">
                    <div class="container__group-item1-input3-img"></div>
                    <div class="container__group-item1-input3-group">
                        <div class="container__group-item1-input3-group-item container__group-item1-input3-group-item1">
                            <div class="container__group-item1-input3-group-item1-text">Min price</div>
                            <div class="container__group-item1-input3-group-item1-text container__group-item1-input3-group-item1-text2">$115</div>
                        </div>
                        <div class="container__group-item1-input3-group-width"></div>
                        <div class="container__group-item1-input3-group-item container__group-item1-input3-group-item2">
                            <div class="container__group-item1-input3-group-item1-text">Max price</div>
                            <div class="container__group-item1-input3-group-item1-text container__group-item1-input3-group-item1-text2">$5312</div>
                        </div>
                    </div>
                </div>

                <div class="container__group-item1-button">
                    <a href="#bon">
                        <div class="container__group-item1-button-next">Next</div>
                    </a>
                </div>
            </div>


            <div class="container__group-item container__group-item2">
                <div class="container__group-item2-background container__group-item2-background2 container__group-item2-background3">
                    <div class="container__group-item2-background2-img container__group-item2-background3-img"></div>
                    <p>Almost there !</p>
                </div>

                <div class="container__group-item2-display">
                    <div class="container__group-item2-display-width container__group-item2-display-width-top container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">1</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">2</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">3</div>
                    <div class="container__group-item2-display-width"></div>
                    <div class="container__group-item2-display-border">4</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-top"></div>
                </div>

                <div class="container__group-item2-text">
                    <div class="container__group-item2-text-item container__group-item2-text-item1">Personnal Details</div>
                    <div class="container__group-item2-text-item container__group-item2-text-item2" >Services </div>
                    <div class="container__group-item2-text-item container__group-item2-text-item3">Company Budget</div>
                    <div class="container__group-item2-text-item">Confirmation</div>
                </div>
            </div>
        </div>



        <!-- container__group4 -->



        <div id="bon" class="container__group container__group2 container__group3 container__group4">
            <div class="container__group-item container__group-item1">
                <p>Would you give us</p>
                <h2>Handshakes?</h2>

                <div class="container__group-item1-input container__group-item1-input2 container__group-item1-input3 container__group-item1-input4">
                    <div class="container__group-item1-input4-group">
                        <div class="container__group-item1-input4-group-item">
                            <div class="container__group-item1-input4-group-item-text">Email</div>
                            <div class="container__group-item1-input4-group-item-text container__group-item1-input4-group-item-text2">nhilephuong@gmail.com</div>
                        </div>

                        <div class="container__group-item1-input4-group-item">
                            <div class="container__group-item1-input4-group-item-text">Name</div>
                            <div class="container__group-item1-input4-group-item-text container__group-item1-input4-group-item-text2">Nhi Le Phuong</div>
                        </div>

                        <div class="container__group-item1-input4-group-item">
                            <div class="container__group-item1-input4-group-item-text">Phone</div>
                            <div class="container__group-item1-input4-group-item-text container__group-item1-input4-group-item-text2">091 234 5678</div>
                        </div>

                        <div class="container__group-item1-input4-group-item">
                            <div class="container__group-item1-input4-group-item-text">Sevices</div>
                            <div class="container__group-item1-input4-group-item-text container__group-item1-input4-group-item-text2">Branding & Identity</div>
                        </div>
                    </div>
                </div>

                <div class="container__group-item1-button container__group-item1-button-end">
                    <a href="#end">
                        <div class="container__group-item1-button-next">Next</div>
                    </a>
                </div>
            </div>


            <div class="container__group-item container__group-item2">
                <div class="container__group-item2-background container__group-item2-background2 container__group-item2-background3">
                    <div class="container__group-item2-background2-img container__group-item2-background3-img container__group-item2-background4-img"></div>
                    <p>It's good to see you !</p>
                </div>

                <div class="container__group-item2-display">
                    <div class="container__group-item2-display-width container__group-item2-display-width-top container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">1</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">2</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">3</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-blue"></div>
                    <div class="container__group-item2-display-border container__group-item2-display-border-blue">4</div>
                    <div class="container__group-item2-display-width container__group-item2-display-width-top container__group-item2-display-width-blue"></div>
                </div>

                <div class="container__group-item2-text">
                    <div class="container__group-item2-text-item container__group-item2-text-item1">Personnal Details</div>
                    <div class="container__group-item2-text-item container__group-item2-text-item2" >Services </div>
                    <div class="container__group-item2-text-item container__group-item2-text-item3">Company Budget</div>
                    <div class="container__group-item2-text-item">Confirmation</div>
                </div>
            </div>
        </div>


    </div>


    <!-- footer -->


    <div class="footer">
        <div class="footer__group footer__group-top">
            <h2>NHILE</h2>
            <p>Let's create awesome project together! Feel to contact!</p>

            <div class="footer__group-top-one">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-f"></i>
                <i>M</i>
                <i>Bè</i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="footer__group">
            <h2> Get in Touch</h2>
            <p><span><i class="fas fa-phone"> </i></span> <span> 0912345678 </span></p>
            <p><span><i class="fas fa-envelope"></i> </span>nhilephuong@gmail.com </p>
            <p><span><i class="fab fa-facebook"></i> </span><span>The street, 123</span></p>
            <div class="footer__group-end">
                <p><i class="fas fa-comment-dots"></i></p>
                <p>Send a message</p>
            </div>
        </div>
        <div class="footer__group">
            <h2>Our Services</h2>
            <p>Website Development</p>
            <p>Buiding Applications</p>
            <p>Branding & Identily</p>
            <p>SEP & Digital Marketing</p>
            <p>Digital Images & Videos </p>
        </div>
        <div class="footer__group">
            <h2>Popular Tags</h2>
            <div class="footer__group__ends">
                <div class="footer__group__ends-item footer__group__ends-item1">#Videos</div>
                <div class="footer__group__ends-item footer__group__ends-item2">#Applications</div>
            </div>

            <div class="footer__group__ends">
                <div class="footer__group__ends-item footer__group__ends-item1">#Marketing</div>
                <div class="footer__group__ends-item footer__group__ends-item2">#Art</div>
            </div>
            <div class="footer__group__ends">
                <div class="footer__group__ends-item footer__group__ends-item1">#Website</div>
                <div class="footer__group__ends-item footer__group__ends-item2">#Branding</div>
            </div>
            <div class="footer__group__ends">
                <div class="footer__group__ends-item footer__group__ends-item1">#identily</div>
                <div class="footer__group__ends-item footer__group__ends-item2">#photos</div>
            </div>
        </div>
    </div>


    
</body>
</html>