<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='work.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Dongle:wght@300;400&family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,800;1,600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header__group">
            <h1>Nhile</h1>
        </div>
        <div class="header__group header__group2">
            <div class="header__group-item"><a href="/home">Home</a></div>
            <div class="header__group-item"><a href="/about">About</a></div>
            <div class="header__group-item"><a href="/services">Services</a></div>
            <div class="header__group-item"><a href="/work">Work</a></div>
            <div class="header__group-item"><a href="/contact">Contact</a></div>
        </div>
    </div>


    <div class="container">
        <div class="container__text">
            <h2>See our works</h2>
            <p>These are a selection of our recent works.</p>
        </div>

        <div class="container__group">
            <div class="container__group-item container__group-item1">
                <div class="container__group-item1-img container__group-item1-img1"></div>
                <div class="container__group-item1-img container__group-item1-img2"></div>
            </div>
            <div class="container__group-item container__group-item2"></div>
            <div class="container__group-item container__group-item3">
                <div class="container__group-item3-group container__group-item3-group-top">
                    <div class="container__group-item3-group-img container__group-item3-group-img1"></div>
                    <div class="container__group-item3-group-img container__group-item3-group-img2"></div>
                </div>
                <div class="container__group-item3-group container__group-item3-group2"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer__group footer__group-top">
            <h2>NHILE</h2>
            <p>Let's create awesome project together! Feel to contact!</p>

            <div class="footer__group-top-one">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-f"></i>
                <i>M</i>
                <i>Bè</i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="footer__group">
            <h2> Get in Touch</h2>
            <p><span><i class="fas fa-phone"> </i></span> <span> 0912345678 </span></p>
            <p><span><i class="fas fa-envelope"></i> </span>nhilephuong@gmail.com </p>
            <p><span><i class="fab fa-facebook"></i> </span><span>The street, 123</span></p>
            <div class="footer__group-end">
                <p><i class="fas fa-comment-dots"></i></p>
                <p>Send a message</p>
            </div>
        </div>
        <div class="footer__group">
            <h2>Our Services</h2>
            <p>Website Development</p>
            <p>Buiding Applications</p>
            <p>Branding & Identily</p>
            <p>SEP & Digital Marketing</p>
            <p>Digital Images & Videos </p>
        </div>
        <div class="footer__group">
            <h2>Popular Tags</h2>
            <div class="footer__group__ends">
                <div class="footer__group__ends-item footer__group__ends-item1">#Videos</div>
                <div class="footer__group__ends-item footer__group__ends-item2">#Applications</div>
            </div>

            <div class="footer__group__ends">
                <div class="footer__group__ends-item footer__group__ends-item1">#Marketing</div>
                <div class="footer__group__ends-item footer__group__ends-item2">#Art</div>
            </div>
            <div class="footer__group__ends">
                <div class="footer__group__ends-item footer__group__ends-item1">#Website</div>
                <div class="footer__group__ends-item footer__group__ends-item2">#Branding</div>
            </div>
            <div class="footer__group__ends">
                <div class="footer__group__ends-item footer__group__ends-item1">#identily</div>
                <div class="footer__group__ends-item footer__group__ends-item2">#photos</div>
            </div>
        </div>
    </div>

</body>
</html>